*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
header{
    background-color: #a2d2ff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 0px 20px 0px 30px;
    position: fixed;
    top: 0;
    border-bottom: 5px grey solid;
}
.logo{
    height: 100%;
}

.navbar,
.listaNavbar{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.listaNavbar{
    gap: 30px;
    font-family: 'Open Sans', sans-serif;
        
}
.listaNavbar a {
    color: black;
    font-size: 20px;
    text-decoration: none;
}
li {list-style: none;}


